<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ADMIN_PAGE_hospital.Properties.Settings.DoctoryConnectionString" connectionString="Data Source=DESKTOP-K079D5L;Initial Catalog=Doctory;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
